body{
  background-color: white;
}
p{
  font-family: verdana;
  font-size: 35px;
  color: darkblue;
  border-radius: 25px;
}
h1{
  font-family: courier;
  font-size: 50px;
  color: white;
  text-align: left;
  background-color: black;
}
h5{
	font-size: 30px;
}
